* {
    font-size: 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: #d91430;
}

#Q-Body {
    background-image: url(../IMG/Q-Background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#QStart {
    /* border: 2px solid red; */
    margin: 2vw 20vw;
}

#QStart img {
    width: 100%;
    opacity: 0.6;
}

#QStart h2 {
    text-align: center;

}

#QStart p {
    text-align: justify;
}



/* --------------------------------------------- FORMATO PREGUNTA --------------------------------------------- */

#grande {
    width: 100%;
    height: 2400px;
    display: flex;
}

.pregunta_DIV {
    border: 2px solid black;
    height: 600px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid red;
    border-radius: 14px;
    margin: 2vw 2vw 10vw 2vw;

    background-color: rgb(255, 255, 255, 0.3);
}



.pregunta_texto {
    margin-bottom: 20px; /* Ajusta el espacio entre el texto y el formulario */
    text-align: center;
    margin: 0 4vw 20px 4vw;
}

.pregunta_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_label {
    margin: 10px 4vw 10px 4vw;
}

.respuesta_radio {
    color: black;
}


/* -----------------------------------------EFECTO FADE---------------------------------------------------------- */

.fadeIn {
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
}

.fadeOut {
    animation: fadeOut 1s ease-in-out;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

/* -------------------------------------- Barra de Control ------------------------------------------------------- */

#barraDeControl {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    position: absolute;
    top: 520px;
    text-align: center;
    width: 100%;
    padding: 4px 1vw;
    /* border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(217, 20, 48, 0.6); */
}

@media only screen and (max-width: 600px) {
    #barraDeControl{
        top: 620px;
    }

    .pregunta_DIV {
        height: 700px;
    }
}

#barra_central {
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(217, 20, 48, 0.9);
}

.Next_Back_Buttons {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 4px 1vw;
    background-color: rgb(217, 20, 48, 0.9);
    margin: 2vw;
}

.lt_gt {
    text-decoration: none;
    color: white;
}

.numbers_points {
    text-decoration: none;
    color: white;
}

.points {
    display: inline;
    color: white;
}

#point_back {
    display: none;
}

#point_next {
    display: inline-block;
}


/* -----------------------------------------------FOOOOOOTER------------------------------------------------------ */



/* ---------------------------------------------- Pagina: RESULTS ------------------------------------------------- */

#titulo_results {
    text-align: center;
}

#h2_gracias {
    text-align: center;
}

#tips-box {
    display: flex;
    justify-self: center;
    text-align: center;
    justify-content: center; /* Centra en X */
}