.contenido, .formulario {
    background-color: #ffffff93;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.texto {
    flex: 1;
    margin-right: 20px;
}

/* Imagenes de los divs contenido y formulario */

.imagencontenido {
    width: 45%;
    border-radius: 20px;
}
.imagenformulario{
    width: 45%;
    border-radius: 20px;
    margin-right: 20px;
}

/* Boton */

button {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    background-color: #e50000; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px; 
}
button:hover {
    background-color: #ff6666; 
}

/* Formato para movil */

@media screen and (max-width: 768px) {
    .contenido, .formulario  {
        flex-direction: column-reverse;
    }

    .texto {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .imagencontenido, .imagenformulario {
        width: 100%;
        margin-top: 20px;
    }
}